<footer style="background-color: #0275d8; padding: 8rem 0; text-align: center;">
        <hr>
    <div style="color: white;">
        <h1>Práctica servicio social - Aldo García</h1>
    </div>
</footer>